* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  width: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}
.nav {
  height: 100px;
  width: 100%;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
}
.nav-part2 {
  display: flex;
  gap: 4vw;
}
.nav h2 {
  font-size: 2vw;
  font-weight: 700;
}
.nav h4 {
  font-size: 1vw;
}
.nav button {
  font-size: 1vw;
  padding: 0.6vw 1.4vw;
  background-color: #ff735c;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}
.nav i {
  display: none;
  font-weight: 800;
}
.container {
  height: calc(100% - 100px);
  width: 100%;
  display: flex;
  position: relative;
}

.left {
  height: 100vh;
  width: 55%;
  padding: 5vw 5vw;
}
.left h1 {
  font-size: 4vw;
  line-height: 4.4vw;
}
.left h1 span {
  color: #ff735c;
}
.left p {
  font-size: 2vw;
  font-weight: #666;
  width: 80%;
  margin-top: 3vw;
  margin-bottom: 5vw;
}

.right {
  height: 100vh;
  width: 45%;
  background: url(./ffff.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
button {
  font-size: 1.2vw;
  padding: 1.1vw 2.1vw;
  background-color: #ff735c;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  font-weight: 700;
}

@media (max-width: 600px) {
  .nav {
    height: 60px;
    padding: 0 6vw;
  }
  .nav h2 {
    font-size: 5.1vw;
  }
  .nav h4 {
    font-size: 4vw;
    display: none;
  }
  .nav i {
    font-size: 4.5vw;
    display: block;
  }
  .nav button {
    display: none;
  }
  .container {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
  }
  .left {
    width: 80%;
    height: 45%;
    /* background-color: antiquewhite; */
    padding: 4vw 6vw;
  }
  .right {
    /* width: 80%;
    height: 55%; */
  }
  .left h1 {
    font-size: 6vw;
    line-height: 5vw;
  }
  .left p {
    font-size: 3vw;
    width: 90%;
    margin-top: 5vw;
    margin-bottom: 6vw;
  }
  .container button {
    padding: 3vw 6vw;
    font-size: 3vw;
    border-radius: 3px;
    font-weight: 600;
    font-size: 3.5vw;
  }
}
